:root {
    --Raspberry: #DD1058;
    --Thistle: #D7C7DB;
    --Lavender: #C7AFCB;
    --Amethyst: #9079A9;
    --SpaceIndigo: #33345A;
    --InfiniteIndigo: #20243D;
    --white: #ffffff;

    --sky-padding: 2rem;

    /* 1440px to 800px */
    --title: clamp(4.375rem, 4.062vw - -2.344rem, 6.000rem);
    --block-title: clamp(2.000rem, 0.625vw - -1.688rem, 2.250rem);
    --site-block-subtitles: clamp(1.250rem, 0.625vw - -0.938rem, 1.500rem);
    --main-text: clamp(1.500rem, 1.250vw - -0.875rem, 2.000rem);
    --se-title: clamp(4.000rem, 10.000vw - 1.000rem, 8.000rem);
    /* --icon-scale: clamp(16px, 1.43vw + 11.4px, 32px); */
    --icon-scale: clamp(2.188rem, 2.031vw - -1.172rem, 3.000rem);
}

body {
    margin: 0;
    font-family: 'Barlow';
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

a span {
    position: relative;
    z-index: 1;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1em;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 0;
    transition: transform 0.3s ease-out;
    background-color: var(--Raspberry);
}

a:hover::before {
    transform: scaleX(100%);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

a:not(:hover)::before {
    transform-origin: right;
}

body::selection {
    background-color: #20243D;
    color: #D7C7DB;
}

body::-webkit-scrollbar {
    display: none;
}